.dashboard-page {
  width: 100%;
  min-height: 100vh;
  background-color: #faf9fb;
  display: flex;
  position: fixed;
}
/* ===== DASHBOARD CONTAINER ===== */
.dashboard-container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  max-width: 20%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e5e7eb;
}
.dashboard-page .dash-header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  border-bottom: solid 1px #e5e7eb;
}
.title-container {
  position: absolute;
  width: 57%;
  top: 30px;
  left: 20px;
  padding: 10px 50px;
  border-bottom: solid #e5e7eb 1px;
  height: 50px;
}
.title-container h1 {
  position: absolute;
  width: 250px;
  top: 20px;
  left: 90px;
  font-size: 26px;
  margin: 0;
  color: #092c4c;
  line-height: 24px;
  font-family: "Arimo", Arial, sans-serif;
}
.title-container .logo {
  width: 80px;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
}
.dashboard-container .title-container h2 {
  position: absolute;
  top: 100px;
  left: 0px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: #6b7280;
  font-weight: bold;
}
.dashboard-container .dash-options {
  display: flex;
  flex-direction: column; /* stack items vertically */
  align-items: stretch; /* items fill container width */
  gap: 10px; /* spacing between options */
  width: 100%;
  max-width: 300px;
  margin-top: 160px;
  font-size: large;
  font-weight: bold;
}

.dashboard-container .dash-options .item,
.dashboard-container .dash-options .active-item {
  display: flex;
  align-items: left; /* vertical center text */
  justify-content: left; /* horizontal center text */
  padding-left: 60px;
  height: 60px; /* option height */
  background-color: white;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
.dash-options .item:hover {
  background-color: #efefef;
}

.dashboard-container .dash-options .active-item {
  background-color: #eff6ff;
  color: #4b5563;
}
.dashboard-container .dash-options .dash-icon {
  position: relative;
  right: 10px;
  width: 20px;
}
.dashboard-container .dash-options .dash-icon1 {
  position: relative;
  right: 15px;
  width: 25px;
}
.dashboard-container .dash-options .logs {
  position: relative;
  left: 5px;
}
.header-container {
  width: 1130px;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  border: 1pt solid #e5e7eb;
  position: absolute;
  top: 120px;
  left: 360px;
  padding-top: 20px;
  padding-left: 20px;
}
.header-title {
  font-size: 30px;
  font-family: "Arimo", sans-serif;
  font-weight: normal;
  margin-top: 10px;
}
.clock-icon {
  width: 20px;
  height: auto;
  position: absolute;
  left: 20px;
  top: 70px;
}
.datetime-single {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  color: #4a5565;
  font-family: "Arimo", sans-serif;
  position: relative;
  top: 15px;
  left: 30px;
}
.quick-actions {
  width: 1150px;
  height: 150px;
  border-radius: 10px;
  border: 1pt solid #e5e7eb;
  background-color: white;
  position: absolute;
  top: 250px;
  left: 360px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.actions-items {
  display: flex;
  gap: 10px;
}
.action {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  font-family: 'Arimo', sans-serif;
}
.actions-items .action:nth-child(1) {
  background-color: #eff6ff;
  border: 1pt solid #BEDBFF;
  color: #1C398E;
}
.action .add {
  font-size: 14px;
}
.actions-items .action:nth-child(2) {
  background-color: #F9FAFB;
  border: 1pt solid #E5E7EB;
  color: #101828;
}
.actions-items .action:nth-child(3) {
  background-color: #FAF5FF;
  border: 1pt solid #E9D4FF;
  color: #161C8B; 
}

